* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-size: 1.5rem;
}
.container {
    display: grid;
    grid-template: 2fr 1fr 4fr 3fr / 1fr 1fr 1fr 1fr;
}
.container header {
    padding: 2rem;
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: rgb(118, 118, 123);
    display: grid;
    justify-items: center;
}
.container nav {
    grid-row: 2/3;
    grid-column: 1/5;
    background-color: blanchedalmond;
}
.container main {
    grid-row: 3/4;
    padding: 2rem;
    grid-column: 1/4;
    background-color: burlywood;
}
.container aside {
    grid-row: 3/4;
    padding: 2rem;
    grid-column: 4/5;
    background-color: cornsilk;
}
.container footer {
    padding: 2rem;
    grid-column: 1/5;
    grid-row: 4/5;
    background-color: rgb(118, 118, 123);
}
.navi {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navi a {
    text-decoration: none;
    color: black;
}