@media (min-width: 740px) {
    .menu-toggle {
        display: none;
    }

    header {
        background-color: #4B0082;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    nav {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 0 15px;
    }
    nav a {
        flex: 1 1 100%;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: larger;
        font-weight: bold;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .title-container {
        width: 100%;
        text-align: center;
        padding: 2rem 2rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
    }

    figure {
        background-color: white;
        padding: 10px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 350px;
    }

    figure img {
        width: 100%;
        height: auto;
    }

    figcaption {
        margin-top: 5px;
        font-weight: bold;
    }
} 
